body {
	background-image: url("img/lake2.jpg");	
	/*background-color: black;*/
    background-size: cover;
    font-family: 'Open Sans';
}

.big-font {
    font-size: 120%;
}

.navbar-light .navbar-nav .nav-item > .nav-link {
	color:rgba(255, 255, 255, 1);
}

.center {
	display:flex;
	justify-content:center;
	align-items:center;
}