resources/logo.png filter=lfs diff=lfs merge=lfs -text
css/img/lake2.jpg filter=lfs diff=lfs merge=lfs -text
css/img/lake.jpg filter=lfs diff=lfs merge=lfs -text
css/img/forest.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/stars2.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/stars.jpeg filter=lfs diff=lfs merge=lfs -text
