resources/logo.png filter=lfs diff=lfs merge=lfs -text
css/img/lake2.jpg filter=lfs diff=lfs merge=lfs -text
css/img/lake.jpg filter=lfs diff=lfs merge=lfs -text
css/img/forest.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/stars2.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/stars.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/tmp2.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/10.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/2.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/8.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/maupassant.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/11.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/1.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/12.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/6.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/5.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/7.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/9.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/3.jpeg filter=lfs diff=lfs merge=lfs -text
css/img/4.jpeg filter=lfs diff=lfs merge=lfs -text
